-r requirements.txt

# From manifest.json
python-graphql-client==0.4.3
-e git+https://github.com/jhansche/pybirdbuddy.git@main#egg=pybirdbuddy

# for tests
pytest-homeassistant-custom-component==0.13.128

coverage
pytest
pytest-cov
pytest-aiohttp
pytest-asyncio
pytest-unordered
py==1.10.0  # Fixes pytest-sugar 0.9.5
